.row{
    padding: 20px;
    background-color: #1a1a1a;
}

div{
    
    text-align: left;
    color: white;

}

.texto {
    display: inline-block;
    text-align: justify;
}

.imagen {
    display: inline-block;
    text-align: justify;
}