<div class="row">
    <h1>Proyectos</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 texto">
            <h2>Portfolio ArgentinaPrograma</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus numquam alias porro consequuntur commodi suscipit? Ipsam odit sequi omnis dolore earum numquam, porro adipisci aliquam cupiditate dignissimos saepe ut id!</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 imagen">
            <img src="" class="img-fluid">
        </div>
    </div>
</div>
