.row{
    padding: 20px;
    background-color: #1a1a1a;
    border: 2px solid grey;
    border-radius: 1rem;
    margin:auto;
}

div{
    text-align: center;
    color: white;

}
footer{
    color: white;
    font-size: 14px;
    display: flex;
    text-align: center;
    flex-direction: column;
}