.row{
    padding: 50px;
    background-color: #1a1a1a;
}

div{
    text-align: center;
    color: white;

}
footer{
    color: white;
    font-size: 14px;
    display: flex;
    text-align: center;
    flex-direction: column;
}