<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Instituto:</h1> - 
                <h3>(years)</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque magni fugiat deserunt enim esse, corrupti vitae rerum, maiores laboriosam, laudantium cupiditate. Pariatur porro repellendus dicta, corporis commodi quibusdam voluptate ratione.</p>
            </li>
        </ul>
        <ul>
            <li>
                <h1>Instituto:</h1> - 
                <h3>(years)</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque magni fugiat deserunt enim esse, corrupti vitae rerum, maiores laboriosam, laudantium cupiditate. Pariatur porro repellendus dicta, corporis commodi quibusdam voluptate ratione.</p>
            </li>
        </ul>
        <ul>
            <li>
                <h1>Instituto:</h1> - 
                <h3>(years)</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque magni fugiat deserunt enim esse, corrupti vitae rerum, maiores laboriosam, laudantium cupiditate. Pariatur porro repellendus dicta, corporis commodi quibusdam voluptate ratione.</p>
            </li>
        </ul>
    </div>
</div>
