.row{
    padding: 20px;
    background-color: #1a1a1a;
    border: 2px solid grey;
}

div{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: white;
   
   
   
}

/*etiqueta perfil*/
@media(min-width:576px){
    #perfil{
        position: absolute;
        width: 15%;
        border-radius: 100%;
        box-shadow: 3px 3px 8px rgba(211, 210, 210, 0.368);
        left: 5%;
        top: 750px;

    }
}

@media(max-width:575px){
    #perfil{
        position: absolute;
        width: 15%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        left: 5%;
        top: 950px;

    }
}


/*etiqueta nombre*/
#nombre{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: xx-large;
    margin-top: 7px;    
    
}