<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/fotoperfil.png" class="img-fluid" id="perfil" alt="">
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <p id="nombre">Begoña Arbeloa</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <br>
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
        <span>
            <h1>Acerca de mí</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus reiciendis, repellendus commodi eius eos libero necessitatibus facere aliquid illo vitae vero dicta mollitia dolor praesentium magnam nobis a, tempore adipisci.</p>
        </span>
    </div>
</div>
