<div class="row">
<div class="container">
    <div class="logo">
        <img src="../../../assets/APLogo-20-20.png" id="logoAP">
    </div>
    <div class="redesocial">
        <div>
            <a href=""><img src="../../../assets/logo_Github.png" id="github"></a>
            <a href=""><img src="../../../assets/logo_instagram.png" id="instagram"></a>
            <a href=""><img src="../../../assets/logo_face.png" id="facebook"></a>
            <a href=""><img src="../../../assets/logo_linkedin.png" id="linkedin"></a>
            <button type="button" class="btn btn-outline-light">INGRESAR</button>
        </div>
    </div>
</div>
</div>