<div class="row">
    <h1>Hard & Soft Skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="80"
            [radius]="100"
            [showUnits]="false"
            [title]="'HTML'"
            [titleColor]="'white'"
            [titleFontSize]="'2em'"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#D61C4E'"
            [innerStrokeColor]="'#00D7FF'"
            [animation]="true"
            [animationDuration]="500">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="70"
            [radius]="100"
            [showUnits]="false"
            [title]="'CSS'"
            [titleColor]="'white'"
            [titleFontSize]="'2em'"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#D61C4E'"
            [innerStrokeColor]="'#00D7FF'"
            [animation]="true"
            [animationDuration]="500">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="45"
            [radius]="100"
            [showUnits]="false"
            [title]="'JAVA'"
            [titleColor]="'white'"
            [titleFontSize]="'2em'"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#D61C4E'"
            [innerStrokeColor]="'#00D7FF'"
            [animation]="true"
            [animationDuration]="500">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="55"
            [radius]="100"
            [showUnits]="false"
            [title]="'GitHUb'"
            [titleColor]="'white'"
            [titleFontSize]="'2em'"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#D61C4E'"
            [innerStrokeColor]="'#00D7FF'"
            [animation]="true"
            [animationDuration]="500">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="100"
            [radius]="100"
            [showUnits]="false"
            [title]="'TRABAJO'"
            [titleColor]="'white'"
            [titleFontSize]="'2em'"
            [showSubtitle]="true"
            [subtitle]="'EQUIPO'"
            [subtitleColor]="'white'"
            [subtitleFontSize]="'2em'"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#D61C4E'"
            [innerStrokeColor]="'#00D7FF'"
            [animation]="true"
            [animationDuration]="500">
        </circle-progress>
    </div> 
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="100"
            [radius]="100"
            [showUnits]="false"
            [title]="'DISEÑO'"
            [titleColor]="'white'"
            [titleFontSize]="'2em'"
            [showSubtitle]="true"
            [subtitle]="'GRÁFICO'"
            [subtitleColor]="'white'"
            [subtitleFontSize]="'2em'"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#D61C4E'"
            [innerStrokeColor]="'#00D7FF'"
            [animation]="true"
            [animationDuration]="500">
        </circle-progress>
    </div> 
    

</div>
