
    <div class="row">
        <h1>Experiencia laboral</h1>
        <div class="col-lg-2">
            <button type="button" class="btn btn-light" routerLink="/nuevaexp" *ngIf="isLogged">Nueva
                Experiencia</button>
        </div>
        <div class="col lg 1"></div>
        <div class="col-lg-11">
            <table class="table">
                <tbody>
                    <tr *ngFor="let Expelab of expelab">
                        <td>
                            <h2>{{Expelab.nombreEx}}</h2>
                        </td>
                        <td>
                            {{Expelab.descripcionEx}}
                        </td>
                        <td *ngIf="isLogged">
                            <button type="button" class="btn btn-light" routerLink="/editExp/{{Expelab.id}}">
                                <i class="b1 b1-pencil-fill"></i>
                                EDITAR
                            </button>
                        </td>
                        <td *ngIf="isLogged">
                            <button type="button" class="btn btn-danger" (click)="delete(Expelab.id)">
                                <i class="bi bi-trash-fill"></i>
                                BORRAR
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
